<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
<table id="wp-calendar" [style.display]="showDp">
    <caption>
        <i class='fa fa-arrow-circle-left' style='float:left' (click)='setPrevMonth()'></i>
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <label>{{currMonth}} {{currYear}}</label>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

    </caption>
    <thead>
        <tr>
            <th *ngFor="let day of daysofWeek">{{day}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let date of dates">
            <td *ngFor="let d of date" (click)='setDate(d)'
                [class.disabled]='d.disabled'
                [class.selDate]='d.selected'
                [class.empty]='d.empty'>{{d.date}}</td>
        </tr>
    </tbody>
</table>
